<!-- /partials/drill_create_modal.html -->
<div class="modal fade" id="createDrillModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Crear drill</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <form id="drillForm" class="row g-3">
          <div class="col-12 col-lg-6">
            <label class="form-label" for="drillName">Nombre *</label>
            <input class="form-control" id="drillName" required maxlength="120" />
          </div>

          <div class="col-12 col-lg-6">
            <label class="form-label" for="drillAuthor">Autor *</label>
            <input class="form-control" id="drillAuthor" required maxlength="80" />
          </div>

          <div class="col-12 col-lg-6">
            <label class="form-label" for="drillTacticalUrl">Link Tactical Board</label>
            <input class="form-control" id="drillTacticalUrl" type="url" placeholder="https://..." />
          </div>

          <div class="col-12 col-lg-6">
            <label class="form-label" for="drillVideoUrl">Link video del equipo (opcional)</label>
            <input class="form-control" id="drillVideoUrl" type="url" placeholder="https://..." />
          </div>

          <div class="col-12">
            <label class="form-label" for="drillObjective">Objetivo</label>
            <textarea class="form-control" id="drillObjective" rows="2"></textarea>
          </div>

          <div class="col-12 col-md-4">
            <label class="form-label" for="drillVolume">Volumen</label>
            <input class="form-control" id="drillVolume" maxlength="60" placeholder="Ej: 6 reps / 10 min" />
          </div>

          <div class="col-12 col-md-4">
            <label class="form-label" for="drillRest">Descanso post-drill</label>
            <input class="form-control" id="drillRest" maxlength="60" placeholder="Ej: 90s" />
          </div>

          <div class="col-12">
            <label class="form-label" for="drillRecs">Recomendaciones</label>
            <textarea class="form-control" id="drillRecs" rows="3"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-bs-dismiss="modal" type="button">Cancelar</button>
        <button class="btn btn-primary" id="saveCreateDrillBtn" type="button">Guardar drill</button>
      </div>

    </div>
  </div>
</div>
